.header-main {
  display: flex;
  justify-content: end;
  padding: 96px 0;
  .header-description {
    width: 627px;
    display: flex;
    flex-direction: column;
    span.text {
      position: relative;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #1d2130;
      margin-bottom: 32px;
      &::before {
        content: "";
        position: absolute;
        width: 72px;
        height: 2px;
        background-color: black;
        left: -60px;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
      }
    }
    h1 {
      font-size: 56px;
      line-height: 120%;
    }
    span.desc {
      width: 517px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #525560;
    }
    button {
      color: white;
      font-weight: 500;
      font-size: 16px;
      border: none;
      background: #70c174;
      padding: 16px 32px;
      border-radius: 4px;
      width: 153px;
      height: 51px;
      backdrop-filter: blur(40px);
      line-height: 19px;
      margin-top: 32px;
      cursor: pointer;
    }
  }
  .header-img {
    width: 480px;
    height: 384px;
    margin-left: 76px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .header-main {
    flex-direction: column-reverse;
    .header-description {
      width: 100vw;
      span.text {
        margin-left: 98px;
        &::before {
        }
      }
      h1 {
        font-size: 54px;
      }
      span.desc {
        width: 100vw;
      }
      button {
      }
    }
    .header-img {
      width: 100vw;
      margin: auto;
      padding-bottom: 60px;
      img {
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .header-main {
    flex-direction: column-reverse;
    .header-description {
      width: 550px;
      span.text {
        margin-left: 98px;
        &::before {
        }
      }
      h1 {
        font-size: 54px;
      }
      span.desc {
      }
      button {
      }
    }
    .header-img {
      margin: auto;
      padding-bottom: 60px;
      img {
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header-main {
    .header-description {
      span.text {
        margin-left: 98px;
        &::before {
        }
      }
      h1 {
      }
      span.desc {
      }
      button {
      }
    }
    .header-img {
      img {
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 96px 0;
    .header-description {
      width: 627px;
      display: flex;
      flex-direction: column;
      span.text {
        margin-left: 98px;
        &::before {
        }
      }
      h1 {
        font-size: 56px;
        line-height: 120%;
      }
      span.desc {
        width: 517px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #525560;
      }
      button {
        color: white;
        font-weight: 500;
        font-size: 16px;
        border: none;
        background: #70c174;
        padding: 16px 32px;
        border-radius: 4px;
        width: 153px;
        height: 51px;
        backdrop-filter: blur(40px);
        line-height: 19px;
        margin-top: 32px;
        cursor: pointer;
      }
    }
    .header-img {
      margin: unset;
      margin-left: 76px;
      padding: unset;
      img {
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header-main {
    .header-description {
      span.text {
        &::before {
        }
      }
      h1 {
      }
      span.desc {
      }
      button {
      }
    }
    .header-img {
      img {
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .header-main {
    .header-description {
      span.text {
        margin-left: 0;
        &::before {
        }
      }
      h1 {
      }
      span.desc {
      }
      button {
      }
    }
    .header-img {
      img {
      }
    }
  }
}
