.tabs-main {
  width: 592px;
  height: 222px;
  margin-top: 20px;
  .tabs-header {
    margin-bottom: 24px;
    user-select: none;
    span {
      border-bottom: 1px solid #e5e5e5;
      width: 114px;
      height: 42px;
      padding: 8px 24px;
      cursor: pointer;
    }
    span.active {
      border-width: 2px;
      border-color: #70c174;
    }
  }
  .tabs-content {
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #525560;
    }
  }
}

@media (max-width: 575.98px) {
  .tabs-main {
    width: 100vw;
    margin-top: 100px;
    .tabs-header {
      span {
      }
      span.active {
      }
    }
    .tabs-content {
      width: 100vw;
      p {
        width: 100vw;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .tabs-main {
    width: 550px;
    margin-top: 50px;
    .tabs-header {
      span {
      }
      span.active {
      }
    }
    .tabs-content {
      width: 550px;
      p {
        width: 550px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .tabs-header {
    span {
    }
    span.active {
    }
  }
  .tabs-content {
    p {
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .tabs-main {
    width: 450px;
    height: 222px;
    margin-top: 20px;
    .tabs-header {
      margin-bottom: 24px;
      user-select: none;
      span {
        border-bottom: 1px solid #e5e5e5;
        width: 114px;
        height: 42px;
        padding: 8px 24px;
        cursor: pointer;
      }
      span.active {
        border-width: 2px;
        border-color: #70c174;
      }
    }
    .tabs-content {
      width: 450px;
      p {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #525560;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .tabs-main {
    width: 592px;
    height: 222px;
    margin-top: 20px;
    .tabs-header {
      margin-bottom: 24px;
      user-select: none;
      span {
        border-bottom: 1px solid #e5e5e5;
        width: 114px;
        height: 42px;
        padding: 8px 24px;
        cursor: pointer;
      }
      span.active {
        border-width: 2px;
        border-color: #70c174;
      }
    }
    .tabs-content {
      width: 592px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #525560;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .tabs-header {
    span {
    }
    span.active {
    }
  }
  .tabs-content {
    width: 592px;
    p {
    }
  }
}
