.contribute-main {
  width: 100%;
  padding: 96px 0;
  .how-to-contribute {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 96px;
    .left {
      h2 {
        width: 592px;
        height: 116px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #1d2130;
        margin-bottom: 24px;
      }
      p {
        width: 592px;
        height: 104px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #525560;
      }
    }
  }
  .how-use-donation {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    h2 {
      width: 374px;
      height: 116px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      color: #1d2130;
    }
    p {
      &:nth-child(2) {
        width: 338px;
        line-height: 160%;
        color: #525560;
      }
      &:nth-child(3) {
        width: 338px;
        line-height: 160%;
        color: #525560;
      }
    }
  }
  .make-greener {
    position: relative;
    width: 100%;
    height: 384px;
    background: url("../../@assets/bg-image.svg") no-repeat;
    background-size: contain;
    border-radius: 15px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
    }
    .middle {
      width: 100%;
      height: 100%;
      transition: 0.5s ease;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background: #00000077;
      padding-top: 85px;
    }
    h2 {
      z-index: 100;
      width: 631px;
      height: 116px;
      display: inline-block;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      color: #ffffff;
    }
    div {
      button {
        margin-top: 32px;
        cursor: pointer;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border: none;
        &:first-child {
          width: 200px;
          height: 51px;
          color: white;
          background: #70c174;
          padding: 16px 32px;
        }
        &:last-child {
          width: 116px;
          height: 51px;
          color: black;
          background: white;
          padding: 16px 32px;
          margin-left: 32px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .contribute-main {
    .how-to-contribute {
      flex-direction: column;
      .left {
        h2 {
          width: 100vw;
          font-size: 40px;
        }
        p {
          width: 100vw;
        }
      }
    }
    .how-use-donation {
      flex-direction: column;
      h2 {
        width: 100vw;
        font-size: 44px;
      }
      p {
        &:nth-child(2) {
          margin: 20px 0;
          width: 100vw;
        }
        &:nth-child(3) {
          width: 100vw;
        }
      }
    }
    .make-greener {
      img {
      }
      .middle {
      }
      h2 {
        font-size: 44px;
        width: 500px;
      }
      div {
        button {
          &:first-child {
          }
          &:last-child {
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contribute-main {
    .how-to-contribute {
      flex-direction: column;
      .left {
        h2 {
          width: 550px;
          font-size: 44px;
        }
        p {
          width: 550px;
        }
      }
    }
    .how-use-donation {
      flex-direction: column;
      h2 {
        width: 540px;
        font-size: 44px;
      }
      p {
        &:nth-child(2) {
          margin: 20px 0;
          width: 550px;
        }
        &:nth-child(3) {
          width: 550px;
        }
      }
    }
    .make-greener {
      img {
      }
      .middle {
      }
      h2 {
        font-size: 44px;
        width: 500px;
      }
      div {
        button {
          &:first-child {
          }
          &:last-child {
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .contribute-main {
    width: 100%;
    padding: 96px 0;
    .how-to-contribute {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 96px;
      .left {
        width: 450px;
        h2 {
          width: 100%;
          height: 116px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 120%;
          color: #1d2130;
          margin-bottom: 24px;
        }
        p {
          width: 100%;
          height: 104px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #525560;
        }
      }
    }
    .how-use-donation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 96px 0;
      h2 {
        width: 374px;
        height: 116px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #1d2130;
      }
      p {
        &:nth-child(2) {
          width: 338px;
          margin: 0;
          line-height: 160%;
          color: #525560;
        }
        &:nth-child(3) {
          width: 338px;
          line-height: 160%;
          color: #525560;
        }
      }
    }
    .make-greener {
      position: relative;
      width: 100%;
      height: 384px;
      background: url("../../@assets/bg-image.svg") no-repeat;
      background-size: contain;
      border-radius: 15px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
      }
      .middle {
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background: #00000077;
        padding-top: 85px;
      }
      h2 {
        z-index: 100;
        width: 631px;
        height: 116px;
        display: inline-block;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
      }
      div {
        button {
          margin-top: 32px;
          cursor: pointer;
          border-radius: 4px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          border: none;
          &:first-child {
            width: 200px;
            height: 51px;
            color: white;
            background: #70c174;
            padding: 16px 32px;
          }
          &:last-child {
            width: 116px;
            height: 51px;
            color: black;
            background: white;
            padding: 16px 32px;
            margin-left: 32px;
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contribute-main {
    .how-to-contribute {
      .left {
        h2 {
        }
        p {
        }
      }
    }
    .how-use-donation {
      h2 {
      }
      p {
        &:nth-child(2) {
        }
        &:nth-child(3) {
        }
      }
    }
    .make-greener {
      img {
      }
      .middle {
      }
      h2 {
      }
      div {
        button {
          &:first-child {
          }
          &:last-child {
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
