// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content-layout {
    .container {
      margin: auto;
      width: 540px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-layout {
    .container {
      margin: auto;
      width: 720px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-layout {
    .container {
      margin: auto;
      width: 960px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-layout {
    // padding: "0 110px";
    .container {
      margin: auto;
      width: 1140px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .content-layout {
    // padding: "0 110px";
    margin: auto;
    .container {
      width: 1320px;
    }
  }
}
