.footer-main {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 99px 0;
  .footer-menu {
    &-header {
      width: 366px;
      font-weight: 700;
      display: grid;
      grid-template-columns: repeat(3, 122px);
      justify-content: space-between;
      margin-bottom: 30px;
      span {
        &:nth-child(2) {
          padding-left: 40px;
        }
        &:nth-child(3) {
          padding-left: 55px;
        }
      }
    }
    &-body {
      width: 366px;
      display: grid;
      grid-template-columns: repeat(3, 122px);
      grid-template-rows: auto;
      justify-content: space-between;
      gap: 24px 0;
      li {
        list-style: none;
        a {
          color: white;
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          text-decoration: none;
          opacity: 0.78;
        }
        &:nth-child(3n-1) {
          padding-left: 40px;
        }
        &:nth-child(3n) {
          padding-left: 55px;
        }
      }
    }
  }
  .footer-form {
    width: 544px;
    label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 140%;
    }
    .input-group {
      width: 100%;
      height: 64px;
      display: flex;
      border: 1px solid rgba(235, 240, 249, 0.3);
      border-radius: 4px;
      margin-top: 36px;
      input {
        width: 408px;
        height: 100%;
        color: white;
        padding-top: 22px;
        padding-bottom: 23px;
        padding-left: 22px;
        background: none;
        border: none;
        &:focus {
          outline: none;
        }
      }
      button {
        width: 136px;
        height: 100%;
        border: none;
        border-radius: 4px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1d2130;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .footer-main {
    flex-direction: column;
    .footer-menu {
      margin: 20px auto;
      &-header {
        span {
          &:nth-child(2) {
          }
          &:nth-child(3) {
          }
        }
      }
      &-body {
        li {
          a {
          }
          &:nth-child(3n-1) {
          }
          &:nth-child(3n) {
          }
        }
      }
    }
    .footer-form {
      width: 100vw;
      label {
      }
      .input-group {
        input {
          &:focus {
          }
        }
        button {
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer-main {
    flex-direction: column;
    .footer-menu {
      margin: 20px auto;
      &-header {
        span {
          &:nth-child(2) {
          }
          &:nth-child(3) {
          }
        }
      }
      &-body {
        li {
          a {
          }
          &:nth-child(3n-1) {
          }
          &:nth-child(3n) {
          }
        }
      }
    }
    .footer-form {
      label {
      }
      .input-group {
        input {
          &:focus {
          }
        }
        button {
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer-main {
    .footer-menu {
      &-header {
        span {
          &:nth-child(2) {
          }
          &:nth-child(3) {
          }
        }
      }
      &-body {
        li {
          a {
          }
          &:nth-child(3n-1) {
          }
          &:nth-child(3n) {
          }
        }
      }
    }
    .footer-form {
      label {
      }
      .input-group {
        input {
          &:focus {
          }
        }
        button {
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer-main {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 99px 0;
    .footer-menu {
      margin: 0;
      &-header {
        width: 366px;
        font-weight: 700;
        display: grid;
        grid-template-columns: repeat(3, 122px);
        justify-content: space-between;
        margin-bottom: 30px;
        span {
          &:nth-child(2) {
            padding-left: 40px;
          }
          &:nth-child(3) {
            padding-left: 55px;
          }
        }
      }
      &-body {
        width: 366px;
        display: grid;
        grid-template-columns: repeat(3, 122px);
        grid-template-rows: auto;
        justify-content: space-between;
        gap: 24px 0;
        li {
          list-style: none;
          a {
            color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-decoration: none;
            opacity: 0.78;
          }
          &:nth-child(3n-1) {
            padding-left: 40px;
          }
          &:nth-child(3n) {
            padding-left: 55px;
          }
        }
      }
    }
    .footer-form {
      width: 440px;
      label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
      }
      .input-group {
        width: 100%;
        height: 64px;
        display: flex;
        border: 1px solid rgba(235, 240, 249, 0.3);
        border-radius: 4px;
        margin-top: 36px;
        input {
          width: 408px;
          height: 100%;
          color: white;
          padding-top: 22px;
          padding-bottom: 23px;
          padding-left: 22px;
          background: none;
          border: none;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 136px;
          height: 100%;
          border: none;
          border-radius: 4px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #1d2130;
          cursor: pointer;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .footer-main {
    .footer-menu {
      &-header {
        span {
          &:nth-child(2) {
          }
          &:nth-child(3) {
          }
        }
      }
      &-body {
        li {
          a {
          }
          &:nth-child(3n-1) {
          }
          &:nth-child(3n) {
          }
        }
      }
    }
    .footer-form {
      label {
      }
      .input-group {
        input {
          &:focus {
          }
        }
        button {
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .footer-main {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 99px 0;
    .footer-menu {
      &-header {
        width: 366px;
        font-weight: 700;
        display: grid;
        grid-template-columns: repeat(3, 122px);
        justify-content: space-between;
        margin-bottom: 30px;
        span {
          &:nth-child(2) {
            padding-left: 40px;
          }
          &:nth-child(3) {
            padding-left: 55px;
          }
        }
      }
      &-body {
        width: 366px;
        display: grid;
        grid-template-columns: repeat(3, 122px);
        grid-template-rows: auto;
        justify-content: space-between;
        gap: 24px 0;
        li {
          list-style: none;
          a {
            color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-decoration: none;
            opacity: 0.78;
          }
          &:nth-child(3n-1) {
            padding-left: 40px;
          }
          &:nth-child(3n) {
            padding-left: 55px;
          }
        }
      }
    }
    .footer-form {
      width: 544px;
      label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
      }
      .input-group {
        width: 100%;
        height: 64px;
        display: flex;
        border: 1px solid rgba(235, 240, 249, 0.3);
        border-radius: 4px;
        margin-top: 36px;
        input {
          width: 408px;
          height: 100%;
          color: white;
          padding-top: 22px;
          padding-bottom: 23px;
          padding-left: 22px;
          background: none;
          border: none;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 136px;
          height: 100%;
          border: none;
          border-radius: 4px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #1d2130;
          cursor: pointer;
        }
      }
    }
  }
}
