// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .nav-main {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-img {
    }
    .nav-items {
      display: flex;
      align-items: center;
      ul {
        display: none;
      }
      .menuIcon {
        width: 50px;
        height: 50px;
        background: #1d2130;
        color: white;
        font-size: 2.5rem;
        padding: 3px 0px 1px 7px;
        border-radius: 5px;
      }
      button {
        padding: 12px 32px;
        color: white;
        background: #1d2130;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 20.5px;
        border: none;
        cursor: pointer;
      }
    }
    #sidebar {
      position: fixed;
      width: 0px;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: #91919160;
      backdrop-filter: blur(5px);
      transition: 0.5s;
      overflow-x: hidden;
      .closeIcon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 15px;
        background: #1d2130;
        color: white;
        font-size: 2.5rem;
        padding: 3px 0px 1px 12px;
        border-radius: 5px;
      }
      ul {
        margin-top: 20px;
        li {
          padding: 5px 15px;
          list-style: none;
          line-height: 30px;
          &:hover {
            color: white;
            background-color: #70c174;
            a {
              color: white;
            }
          }

          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .nav-main {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-img {
    }
    .nav-items {
      display: flex;
      align-items: center;
      ul {
        display: none;
      }
      .menuIcon {
        width: 50px;
        height: 50px;
        background: #1d2130;
        color: white;
        font-size: 2.5rem;
        padding: 3px 0px 1px 7px;
        border-radius: 5px;
      }
      button {
        padding: 12px 32px;
        color: white;
        background: #1d2130;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 20.5px;
        border: none;
        cursor: pointer;
      }
    }
    #sidebar {
      position: fixed;
      width: 0px;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: #91919160;
      backdrop-filter: blur(5px);
      transition: 0.5s;
      overflow-x: hidden;
      .closeIcon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 15px;
        background: #1d2130;
        color: white;
        font-size: 2.5rem;
        padding: 3px 0px 1px 12px;
        border-radius: 5px;
      }
      ul {
        margin-top: 20px;
        li {
          padding: 5px 15px;
          list-style: none;
          line-height: 30px;
          &:hover {
            color: white;
            background-color: #70c174;
            a {
              color: white;
            }
          }

          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-main {
    .nav-img {
    }
    .nav-items {
      ul {
        display: none;
        li {
          a {
          }
          a.active {
          }
        }
      }
      button {
      }
      .menuIcon {
        display: inline;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-main {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-img {
    }
    .nav-items {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-around;
        li {
          margin: 0 20px;
          cursor: pointer;
          list-style: none;
          user-select: none;
          a {
            color: #525560;
            font-size: 16px;
            text-decoration: none;
          }
          a.active {
            color: black;
          }
        }
      }
      button {
        padding: 12px 32px;
        color: white;
        background: #1d2130;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 20.5px;
        border: none;
        cursor: pointer;
      }
      .menuIcon {
        display: none;
      }
    }
    .nav-items-rspn {
      display: none;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .nav-main {
    .nav-items-rspn {
      display: none;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .nav-main {
    .nav-items-rspn {
      display: none;
    }
  }
}
